body, html{
    height: 100%;
    margin: 0;
}



button{
    padding: 5px 40px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    transition: all 0.5s linear;
    
}

button:hover{
    background-color:  #79ff4d;

}

.ramble{
    color: rgb(211, 208, 201);
}

.parallax{
    min-height: 800px;

    align-items: center;
    justify-content: center;


    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.underpic{
    font-size: 5em;
}

#mountain-view{
    background-image: url(images/mountain-outdoor.jpg);
}

#shoes{
    background-image: url(images/shoes-outside.jpg);
}

#woodlands{
    background-image: url(images/woodlands.jpg);
}
