body, html{
    height: 100%;
    margin: 0;
}



button{
    padding: 5px 40px;
    background-color: #1a75ff;
    border: #1a75ff;
    color: white;
    border-radius: 10px;
    transition: all 0.2s linear;
    
}

button:hover{
    background-color:  #62ce3e;

}

button:active{
    border: none;
    outline: none;
}

button:focus{
    outline: 0;
}

.ramble{
    color: white;
    background-color: rgba(47, 79, 79, 0.753);
    padding: 30px;
}

.parallax{
    min-height: 800px;

    align-items: center;


    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.underpic{
    font-size: 5em;
}

#mountain-view{
    background-image: url(images/pohu.JPG);
}

#shoes{
    background-image: url(images/tea-field.JPG);
}

#woodlands{
    background-image: url(images/tea-gaiwan.JPG);
}

#tech{
    
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

#reflect{
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-left: 30%;
}

#game{
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-left: 30%;
    border-right: 30%;
}